#score1{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 2em;
    text-align: center;
    background: blueviolet;
    color:aquamarine;
}

#score2{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 2em;
    text-align: center;
    background: red;
    color:aquamarine;
}